#onx-icon{
    width: 100px;
    height: 100px;
    margin-top: 10%;
    animation: icon-rot 5s infinite;
}

@keyframes icon-rot{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}